body {
    background-color: black;
}

.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
form {
    padding: 30px 35px;
    border-radius: 20px;
    width: 250px;
}

.inputs {
    display: flex;
    flex-direction: column;
    margin: 30px 0;
}

.form input {
    display: block;
    outline: none;
    border-radius: 10px;
    padding: 19px;
    margin: 17px 0;
    width: 100%;
    border-style: none;
    background-color: #303245; 
    color: white;
}

h1 {
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: white;
}

form {
    background-color: #15172b;
}

button {
    font-size: 16px;
    border: none;
    outline: none;
    display: block;
    width: 100%;
    padding: 15px 0;
    border-radius: 10px;
    background-color: #08d;
    color: white;

}